{%  block script %}
<script src="../static/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="UTF-8">
    <title>todo サンプル</title>
    </head>
<body>
    <div id="myapp">
        <h1>test</h1>
        <ul>
            <li v-for="(todo, index) in todos ">
                <input type="checkbox" v-on:click="todo.done = !todo.done">[[ todo.task ]]<input type="button" v-on:click="del(index, todo.id)" value="削除"> </li>
        </ul>
        <input type="text" v-model="newTodo"><input type="button" value="追加" v-on:click="add()">
    </div>
    <script>
        var vm = new Vue({
            el: '#myapp',
            delimiters: ["[[", "]]"],
            data: {
                todos: {{ todos | tojson }},
                newTodo: ''
            },
            methods: {
                add: function(){
                    axios({
                        method: 'post',
                        url: 'http://localhost:5000/todo',
                        headers: {
                            'Content-type': 'application/json'
                        },
                        data: {
                            'task': this.newTodo
                        },
                    }).then( res => {
                        this.todos.push({
                            'id': res.data['id'],
                            'task': res.data['task'],
                            'done': false
                        })
                        console.log(res)
                    }).catch (error => {
                        console.log(error)
                    })
                    this.newTodo = ''
                },
                del: function(index, id){
                    if (confirm('OK?')) {
                        this.todos.splice(index, 1)

                        axios({
                            method: 'delete',
                            url: 'http://localhost:5000/todo',
                            headers: {
                                'Content-type': 'application/json'
                            },
                            data: {
                                'id': id
                            }
                        })
                    }
                }
            }
        })
    </script>

</body>
</html>
